# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
env/
venv/
.env
.env.*
*.ipynb

# RVC specific artifacts
applio/env/
applio/_env/
applio/logs/
applio/output/
applio/models/custom/
anaconda_projects/

!applio/logs/mute
!applio/logs/mute_spin
!applio/logs/mute_spin-v2
!applio/logs/reference
!applio/logs/zips

# IDE / tooling
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
*.exe
*.pt
*.onnx
*.pyc
*.pth
*.index
*.mp3
*.flac
*.ogg
*.m4a
*.bin
*.wav
*.txt
*.zip
*.png
*.safetensors

assets/audios
assets/datasets
logs
rvc/models
env
venv
.venv

# spleeter
pretrained_models/